@charset "utf-8";

.confix {
    position: relative;
    width: 1200px; /* 그리드시스템 사이즈 */
    margin: 0 auto;  /* 가운데 정렬 */
    padding: 0 15px; /* 그리드시스템 좌우 마진 영역의 크기 */
    /* background-color: orange; */
}


/* header */
header {
    position: relative;
    width: 100%;
    height: 285px;
    background: url(../images/head_back.jpg) top center no-repeat;
    background-size: cover;
}

.header-flex-box {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.left-menu ul {
    display: flex;
    margin-top: 57px;
}


.left-menu li a {
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    border-right: 1px solid #fff;
    padding-right: 20px;
    padding-left: 20px;
}

.left-menu li:first-child a {
    padding-left: 0;
}

.left-menu li:last-child a {
    border-right: none;
}

.left-menu li a:hover,
.right-menu li a:hover {
    text-decoration: underline;
    color: #aa8e79;
}

.right-menu ul {
    display: flex;
    margin-top: 60px;
}

.right-menu li a {
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    padding-left: 12px;
}

/* main-menu */
.main-menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #3d2e0b; /*#aa8e79*/
}

.main-menu .gnb {
    display: flex;
}

.main-menu .gnb > li {
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-menu .gnb > li > a {
    width: 200px;
    text-align: center;
    font-weight: bold;
    border-right: 1px solid #aa8e79;
    color: #aa8e79;
    padding: 0 20px;
}

.main-menu .gnb > li:first-child > a {
    width: 185px;
}

.main-menu .gnb > li:last-child > a {
    width: 185px;
    border-right: none;
}

.main-menu .gnb > li > a:hover {
    color: #fff;
}


/* main area */
/* content-menu */
.content-menu ul {
    display: flex;
    width: 800px;
    margin: 32px auto 34px;
}

.content-menu li a {
    width: 200px;
    text-align: center;
    border: 1px solid #9b9b9b;
    border-right: 0;
    padding: 10px;
}

.content-menu li:last-child a {
    border-right: 1px solid #9b9b9b;
}

.content-menu li a:hover {
    color: #fff;
    background-color: #aa8e79;
}

/* silde */
.silde {
    width: 100%;
}

.silde img {
    width: 100%;
}

/* bi */
.bi {
    margin-top: 52px;
}

.bi p {
    width: 900px;
    margin: 20px auto 35px;
    text-align: center;
}

.bi-img-text {
    position: absolute;
    left: 160px;
    top: 230px;
    width: 900px;
    text-align: center;
    line-height: 22px;
}

/* bi-des */
.bi-des {
    display: flex;
}

.bi-des div {
    display: flex;
    align-items: center;
    width: 50%;
    height: 150px;
    margin-top: 30px;
    /* background-color: aquamarine; */
}

.bi-des p {
    width: 70%;
    text-align: justify;
    line-height: 1.2em;
    /* background: yellow; */
}

/* raw-material */
.raw-material {
    margin-top: 113px;
}

.raw-material p {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 35px;
}

.raw-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.raw-list .rawbox {
    display: flex;
    justify-content: space-between;
    width: 49.5%;
    height: 258px;
    margin-bottom: 12px;
    border: 1px solid #9b9b9b;
}

.raw-list .raw-text-box {
    position: relative;
    width: 55%;
    padding: 10px;
}

.raw-list .raw-text-box p {
    font-size: 14px;
    text-align: justify;
}

.raw-list .raw-text-box .product {
    position: absolute;
    bottom: 15px;
    font-size: 14px;
    color: #b98958;
}


/* footer area */
footer {
    width: 100%;
    height: 287px;
}

.footer-menu {
    border-top: 1px solid #9b9b9b;
    border-bottom: 1px solid #9b9b9b;
}

/* flex-menu-box */
.flex-menu-box {
    display: flex;
    height: 50px;
    justify-content: space-between;  /* 수평정렬 */
    align-items: center;  /* 수직정렬 */
    /* background-color: yellowgreen */
}

/* footer-main-menu */
.footer-main-menu {
    width: 75%;
    /* background-color: antiquewhite; */
}

.footer-main-menu ul {
    display: flex;
    justify-content: space-between;
}

.footer-main-menu li {
    /* padding: 0 10px; */
}

.footer-main-menu li:first-child {
    padding-left: 0;
}

.footer-main-menu li > a {
    font-size: 12px;
}

.footer-main-menu li > a:hover {
    text-decoration: underline;
}

/* .footer-main-menu li:nth-child(odd) > a { 홀수번째 li
    color: green;
} */

.footer-main-menu li:nth-child(even) > a {  /* 짝수번째 li*/
    color: #9b9b9b;
}

#language {
    color: #b98958 ;
    border: none;
    background-color: transparent;
}


/* sns */
.sns {
    width: 15%;
    /* background-color: aqua; */
}

.sns ul {
    display: flex;
    justify-content: space-between;
}

.sns li {
    width: 25px;
    height: 25px;
    /* margin-top: -5px; */
    /* background-color: #3d2e0b; */
}

.sns li > a {
    width: 25px;
    height: 25px;
    font-weight: bold;
    font-size: 12px;
    padding-top: 4px; /* 텍스트 수직위치 가운데 */
    border-radius: 50%; /* 모서리를 둥글게 표현 */
    text-align: center;
    background-color: #ccc;
}

.sns li > a:hover {
    color: #fff;
    background-color: #b98958;
}


/* flex-infomation-box */
.flex-infomation-box {
    position: relative;
    display: flex;
    justify-content: space-between; /* 수평정렬 */
    align-items: center;  /* 수직정렬 */
    height: 170px;  /* 수직정렬을 위한 값 */
}

/* contact-copyright */
.contact-copyright {
    width: 55%;
    /* background-color: cadetblue; */
}

.contact-copyright p, 
.contact-copyright address {
    font-size: 12px;
    line-height: 24px;
}

.contact-copyright address {
    font-style: normal;
}

.contact-copyright .business,
.contact-copyright .tel {
    color: #b98958;
}

/* security */
.security {
    width: 30%;
    /* background-color: antiquewhite; */
}

.security h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.security p, 
.security .check {
    font-size: 14px;
    line-height: 22px;
}

.security .check {
    margin-top: 15px;
    color: #709d0e;
}

/* bar */
.bar {
    position: absolute;
    left: 780px;
    width: 1px;
    height: 170px;
    background-color: #9b9b9b;
}


/* footer-bottom */
.footer-bottom {
    width: 100%;
    height: 70px;
    background-color: #3b302a;
}

.footer-bottom p {
    display: inline-block;
    font-family: 바탕체;
    font-weight: 600;
    color: #fff;
    line-height: 70px; /* height 값과 같은 값으로 : 수직 가운데로 */
}

.footer-bottom h2 {
    display: inline-block;
    color: #fff;
    margin-left: 150px;
    line-height: 70px;
}

/* fixed-menu */
.fixed-menu {
    position: fixed;
    right: 15%;
    bottom: 100px;
}

.fixed-menu li a {
    width: 90px;
    height: 35px;
    text-align: center;
    line-height: 35px;
}

.fixed-menu li:first-child a {
    color: #fff;
    margin-bottom: 10px;
    background-color: #709d0e;
}

.fixed-menu li:first-child a:hover,
.fixed-menu li:nth-child(2) a:hover {
    color: #000;
    font-weight: 600;
}

.fixed-menu li:nth-child(2) a {
    color: #b98958;
    border: 1px solid #b98958;
    background-color: #fff;
}

